@page
@model CongratulationsModel
@{
    ViewData["Title"] = "Congratulations";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Congratulations!</h2>

<h4>Hurray ! Your order is confirmed. Your tickets have been emailed and texted to the email address and mobile number as stored in our records. Enjoy the show*.</h4>

<h5>*Disclaimer: This is a dummy message :)</h5>