body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#allMessages {
    width: 70%;
    border: 1px solid #ccc;
    height: 500px;
    float: right;
    margin-left: 0px;
    padding-left: 0px;
    overflow-y: auto;
}

    #allMessages li {
        list-style-type: none;
        padding: 3px;
    }

#allUsers {
    width: 20%;
    height: 500px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    overflow: auto;
    font-size: small;
    white-space: nowrap;
}

    #allUsers li {
        padding: 4px;
    }

.clear {
    clear: both;
}

#newMessage {
    font-family: Trebuchet MS;
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
}

.error {
    color: Red;
}

.pm {
    color: Red;
}

.notification {
    color: #bbb;
}

.member_list .chat-body {
    margin-left: 47px;
    margin-top: 0;
}

.top_nav {
    overflow: visible;
}

.member_list .contact_sec {
    margin-top: 3px;
}

.member_list li {
    padding: 6px;
}

.member_list ul {
    border: 1px solid #dddddd;
}

.chat-img img {
    height: 34px;
    width: 34px;
}

.member_list li {
    border-bottom: 1px solid #dddddd;
    padding: 6px;
}

    .member_list li:last-child {
        border-bottom: none;
    }

.member_list {
    height: 380px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sub_menu_ {
    background: #e8e6e7 none repeat scroll 0 0;
    left: 100%;
    max-width: 233px;
    position: absolute;
    width: 100%;
}

.sub_menu_ {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    left: 100%;
    margin-left: 0;
    max-width: 233px;
    position: absolute;
    top: 0;
    width: 100%;
}

.all_conversation ul li:hover .sub_menu_ {
    display: block;
}

.new_message_head button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}

.new_message_head {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 18px 10px;
    width: 100%;
}

.message_section {
    border: 1px solid #dddddd;
}

.chat_area {
    float: left;
    height: 475px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

    .chat_area li {
        padding: 14px 14px 0;
    }

        .chat_area li .chat-img1 img {
            height: 40px;
            width: 40px;
        }

    .chat_area .chat-body1 {
        margin-left: 50px;
    }

.chat-body1 p {
    background: #fbf9fa none repeat scroll 0 0;
    padding: 10px;
}

.chat_area .admin_chat .chat-body1 {
    margin-left: 0;
    margin-right: 50px;
}

.chat_area li:last-child {
    padding-bottom: 10px;
}

.message_write {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}

    .message_write textarea.form-control {
        height: 70px;
        padding: 10px;
    }

.chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
}

.upload_btn {
    color: #777777;
}

.sub_menu_ > li a, .sub_menu_ > li {
    float: left;
    width: 100%;
}

.member_list li:hover {
    background: #428bca none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
}